<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Corlate</title>
</head><!--/head-->

<body class="homepage">

    <section id="home_bg">
        <div class="container text-center">
            <div class="pad_top12">
               <a href="/schedule" class="btn btn-danger btn-lg active">Schedule Now!</a>
            </div> 
        </div><!--/.container-->
    </section><!--/#partner-->

    

    <section>
        <div class="container">
            <div class="row">
                <div >
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="col-sm-8">
                            <div class="pull-left">
                                <i class="fa fa-hand-o-right"></i>&nbsp;
                            </div>
                            <div class="media-body">
                                <h2>CSP PLUMBERS ARE FAST AFFORDABLE AND RELIABLE GUARANTEED!</h2>
                                <h5>There is a Reason They Call Your Friendly Neighbourhood Plumber, Get Prompt, Affordable Plumbing Service.</h5>
                                <h5>The only plumber calgary residents call. Our expert plumbers have  more than 30 years experience combined!</h5>
                                <ul>
                                    <li>Highly Skilled Service Technicians</li>
                                    <li>GPS-Equipped Vehicles Stocked With The Latest Equipment</li>
                                    <li>Competitive Pricing</li>                                
                                    <li>Superior Customer Service</li>
                                    <li>Licensed Plumbing Contractor</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <img src="/assets/neighbourhood.jpg" class="img-responsive" alt="neighbourhood">
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->    
    </section><!--/#conatcat-info-->

   <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Our Services</h2>
                <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
            </div>

            <div class="row">
                <div class="features text-center">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <div class="col-sm-12">
                                <i class="fa fa-bullhorn"></i>
                            </div>
                            <h3>Residential Plumbing</h3>
                            <h5 class="text-justify">Get clean plumbers for your home! Homeowners tell us continuously just how much they appreciate our fast response time and courteous plumbers.</h5>
                        </div>
                    </div><!--/.col-md-4-->

                    <!-- <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <div class="col-sm-12">
                                <i class="fa fa-comments"></i>
                            </div>
                            <h3>Commercial Plumbing</h3>
                            <h5 class="text-justify">Plumbing in commercial office buildings and industrial facilities requires a high level of expertise and the use of high-grade, industrial-strength equipment.</h5>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <div class="col-sm-12">
                                <i class="fa fa-cloud-download"></i>
                            </div>
                            <h3>Retail Store Plumbing</h3>
                            <h5 class="text-justify">Mr. Speedy handles retail businesses and restaurants. Retail store plumbing requires special treatment, specialized equipment and special attention</h5>
                        </div>
                    </div> -->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <div class="col-sm-12">
                                <i class="fa fa-cloud-download"></i>
                            </div>
                            <h3>Water Heaters Dealing</h3>
                            <h5 class="text-justify">We are Certified Distributors of the leading brands of water heaters, Rheem, Bradford White and price them to save you money.</h5>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <div class="col-sm-12">
                                <i class="fa fa-bullhorn"></i>
                            </div>
                            <h3>Hydro-Jetting</h3>
                            <h5 class="text-justify">If you are experiencing backups in your toilets, sinks and drains every time you flush a toilet or run any faucet, chances are you have a major obstruction in your sewer line.</h5>
                        </div>
                    </div><!--/.col-md-4-->

                </div>
            </div>
            <div class="row">
                <div class="features text-center">                    

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <div class="col-sm-12">
                                <i class="fa fa-comments"></i>
                            </div>
                            <h3>Plumbing Repairs</h3>
                            <h5 class="text-justify">We provide a full range of professional plumbing repairs. We hire only the best, most knowledgeable and experienced plumbing technicians</h5>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <div class="col-sm-12">
                                <i class="fa fa-cloud-download"></i>
                            </div>
                            <h3>Garbage Disposal</h3>
                            <h5 class="text-justify">The electric-powered garbage disposal was invented about 80 years ago. Today, about 50% of of US homes have a garbage disposal unit installed</h5>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <div class="col-sm-12">
                                <i class="fa fa-cloud-download"></i>
                            </div>
                            <h3>Drain Cleaning</h3>
                            <h5 class="text-justify">We are Certified Distributors of the leading brands of water heaters, Rheem, Bradford White and price them to save you money.</h5>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div>    
        </div><!--/.container-->
    </section><!--/#feature-->

    <section id="services" class="service-item">
       <div class="container">
            <div class="center wow fadeInDown">
                <h2>THE EXPERIENCE & TOOLS TO HANDLE SEWER LINE CLEANING OR ANY PLUMBING REPAIRS</h2>
                <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
            </div>

            <div class="row">  

                <div class="col-sm-6 col-md-6">
                    <div class="media well wow fadeInDown">
                        <p class="text-justify">Experienced, Certified service technicians to handle all plumbing and drain-cleaning issues: Clogged bathroom, kitchen sink , faucet and fixture installation and repair, clogged drains and sinks, water heaters, garbage disposal installation, pipe repair and re-piping. Great customer service, fast electronic dispatch. GPS-guided vans, loaded with the latest gear, get to your doorstep fast. Great plumbers, competitive rates, exclusive written warranty.</p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="media wow fadeInDown">                        
                        
                        <div class="row pad_top2">
                            <div class="col-sm-4">
                                <img class="img-responsive" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTswJvrOz86mlASIThr0HFLqYEX3fIaVWr7qVEBJON1ua7uaz5V_w">
                            </div>
                            <div class="col-sm-4">
                                <img class="img-responsive" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTTZexsb8nQBiCBE-12es1OM_0SGynczazn8fpwTVAiYTL4LMKq">
                            </div>
                            <div class="col-sm-4">
                                <img class="img-responsive" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSFXp8CnEFIzim149sJm0Y7RYl4S47_vkMMPtOnJE3nvySt8geH">
                            </div>
                        </div>
                    </div>
                </div>                                                
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>PROFESSIONAL DRAIN CLEANING SERVICES IN CALGARY, AIRDRIE, CHESTERMERE, OKOTOKS</h2>
            </div>
            <div class="row">  

                <div class="col-sm-6 col-md-6">
                    <div class="media wow fadeInDown">
                        <img src="http://sandyblogs.com/techlink/wp-content/uploads/2014/02/F08-wiper-bracket-locator.png">
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="media wow fadeInDown">                        
                        <div class="media-body text-justify">
                            <h4><b>Clear Any Drain With The Amazing Hydro Jet Machine</b></h4>
                            <p>Recognized as the newest development in drain-cleaning technology, the Hydro Jet takes drain cleaning to a whole new level of effectiveness. The Hydro jet emits a jet-spray so powerful it literally blasts its way through any clog and safely washes it away.</p>
                            <p>Hydro Jetting also scours and cleans the inside of your pipes, restoring the free flow of water. Moreover, to be absolutely sure we incorporate a specially designed video camera that allows us to see inside the pipe to be sure that all is clear.</p>
                            <p>Whatever your plumbing needs, commercial or residential, if you are in Los Angeles, Orange County or the San Francisco Bay Area, do what thousands do and call Mr. Speedy Plumbing!</p>
                        </div>
                    </div>
                </div>                                                
            </div><!--/.row-->

            
        </div><!--/.container-->
    </section><!--/#recent-works-->

    <section id="services" class="service-item">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>WHAT OUR <b>CUSTOMERS</b> SAY</h2>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        
                        <div class="media-body">
                            <h3 class="media-heading">DOREEN L. , 02/25/14</h3>
                            <p>Extremely professional and friendly. I needed an emergency job to be done and they were very helpful and responsive. Would use them again....</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        
                        <div class="media-body">
                            <h3 class="media-heading">LINDA G. T, BEVERLY HILLS , CA</h3>
                            <p>I have never called Speedy before, but i’m really glad that I did. I think the technician was very knowledgeable, and knew exactly what wa...</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        
                        <div class="media-body">
                            <h3 class="media-heading">BONNIE D.M., 12/27/2013</h3>
                            <p>Phenomenal Service! I was very impressed with the plumbers at Mr. Speedy Plumbing they were on time and courteous over the phone. They had gre...</p>
                        </div>
                    </div>
                </div>  
                                               
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

    

    
    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>