<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Schedule | Corlate</title>
</head><!--/head-->
<body>

    <section id="portfolio">
        <div class="container">
            <div class="center">
               <h2>SCHEDULE SERVICE</h2>
               <h3>SCHEDULE FOR YOUR PLUMBING REPAIRS, INSTALLATIONS, SEWER LINE CLEANING</h3>
            </div>

            <div class="row">
                <div class="col-sm-7">
                    <h5><b>Full Plumbing and Rooting Services | Plumber right at your door In 60 Min</b></h5>
                    <h5>Los Angeles, West Hollywood, Beverly Hills, Orange County, and <a href="#">Now San Francisco Bay</a></h5>
                    <h5><b>Get 10% additional discount when you schedule a service right now! Please mention Promo Code: MrSpeedyPlumbing</b></h5>
                    <h5><a href="#">Cancel or re-schedule your service.</a></h5>
                </div>
                <div class="col-sm-5 text-justify">
                    <ul>
                        <li>Best local plumbers equiped with latest equipment and technology</li>
                        <li>Hydro-jet machines to remove the most stubborn sewer line obstructions;</li>
                        <li>Electronic leak detection devices to locate the source of a concealed leak;</li>
                        <li>Full drain cleaning and rooting services;</li>
                        <li>Installation or replacement of water heaters and garbage disposal units;</li>
                        <li>Kitchen, bath, shower and toilet;</li>
                        <li>Installation or replacement of pipes, faucets and fixtures;</li>
                        <li><em>Trenchless technology</em> to replace underground pipes without the need for intrusive digging.</li>
                    </ul>
                </div>
            </div>   

            <div class="row pad_top2">
                <div class="col-sm-7">
                    <h2>SCHEDULE SERVICE</h2>
                    <form class="form-horizontal" role="form">
                       <div class="form-group">
                          <label for="firstname" class="col-sm-2 control-label">Name</label>
                          <div class="col-sm-10">
                             <input type="text" class="form-control" id="firstname" 
                                placeholder="Enter Your Name">
                          </div>
                       </div>
                       <div class="form-group">
                          <label for="lastname" class="col-sm-2 control-label">Email</label>
                          <div class="col-sm-10">
                             <input type="email" class="form-control" id="lastname" 
                                placeholder="Enter Your Email">
                          </div>
                       </div>
                       <div class="form-group">
                          <label for="lastname" class="col-sm-2 control-label">Phone</label>
                          <div class="col-sm-10">
                             <input type="text" class="form-control" id="lastname" 
                                placeholder="Enter Your Phone No">
                          </div>
                       </div>
                       <div class="form-group">
                          <label for="lastname" class="col-sm-2 control-label">Zip code</label>
                          <div class="col-sm-10">
                             <input type="text" class="form-control" id="lastname" 
                                placeholder="Enter The Zip Code">
                          </div>
                       </div>
                       <div class="form-group">
                          <label for="lastname" class="col-sm-2 control-label">Message</label>
                          <div class="col-sm-10">
                             <textarea type="text" class="form-control" id="lastname" 
                                placeholder="Please provide details about your plumbing issue"></textarea>
                          </div>
                       </div>
                       
                       <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                             <button type="submit" class="btn btn-default active">Send</button>
                          </div>
                       </div>
                    </form>
                </div>
                <div class="col-sm-5 text-justify">
                    <p>Please fill out the form below in its entirety. The more details you give us, the more we will know about your plumbing issue. As soon as we receive your form, a customer service representative will call you to further discuss your problem, and we’ll arrange to send out a Mr. Speedy plumbing technician to take care of your request and resolve your issue so your home or business can back to normal as soon as possible.</p>
                    <p>Mr. Speedy Plumbing and Rooter Inc. is a licensed plumbing contractor providing the full range of professional plumbing services to residential and commercial customers throughout California. We have great plumbers, who do great work, and we charge very fair prices. Our plumbers have years of experience in the field, and we provide them with all the best tools and the latest equipment to handle any plumbing issue. Our service vans are loaded with replacement parts and fixtures, so there’s no waiting while your service technician goes out to get the part or fixture that you need.</p>
                </div>
            </div>

                

            

            
        </div>

    </section><!--/#portfolio-item-->
    <section id="services" class="service-item">
       <div class="container">

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        
                        <div class="media-body">
                            <h3 class="media-heading">DOREEN L. , 02/25/14</h3>
                            <p>Extremely professional and friendly. I needed an emergency job to be done and they were very helpful and responsive. Would use them again....</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        
                        <div class="media-body">
                            <h3 class="media-heading">LINDA G. T, BEVERLY HILLS , CA</h3>
                            <p>I have never called Speedy before, but i’m really glad that I did. I think the technician was very knowledgeable, and knew exactly what wa...</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        
                        <div class="media-body">
                            <h3 class="media-heading">BONNIE D.M., 12/27/2013</h3>
                            <p>Phenomenal Service! I was very impressed with the plumbers at Mr. Speedy Plumbing they were on time and courteous over the phone. They had gre...</p>
                        </div>
                    </div>
                </div>  
                                               
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services--> 

    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>
