<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="We provide services in Plumbing, Drains and Heating. Your best Plumbing Solutions">
  <title>Calgary Service Plumbers | DRAIN CLEANING AND PLUMBING SPECIALS</title>
</head><!--/head-->

<body>

    <section class="pricing-page">
        <div class="container">
            <div class="center">  
                <h2>SPECIALS</h2>
                <h3>DRAIN CLEANING AND PLUMBING SPECIALS</h3>
            </div>
            <div class="well text-justify">

                <div class="row">
                <div class="col-sm-8">
                    <p>Everyone loves a discount or a good deal, and communication is the key.</p>
                    <p>We offer discount coupons on our Plumbing and Drain Cleaning services to show our appreciation to our loyal customers.</p>
                    <p><b>New Customer?</b> – No Worries!  We offer discount coupons to new customers as well, because we want your business – once you become our customer you will remain our customer.<br>
                    Please browse these coupons/special offers or call CSP plumbers & Rooter for more details on how you can save money on our quality plumbing and drain services and maintenance programs. If you have suggestions we are always ready to hear them!</p>
                    <p><b>Current Discounts Include:</b></p>
                        <ul>
                            <li>Full service professional plumbing and drain cleaning;</li>
                            <li>Bathroom and kitchen, interior and exterior plumbing;</li>
                            <li>Installation of hot water heaters and garbage disposal units (<a href="#" >Check Water Heater Specials</a>);</li>
                            <li>Toilets, tubs, showers, drains and sinks;</li>
                        </ul>
                </div>
                <div class="col-sm-4">
                  <img src="/assets/home_professional.jpg" class="img-responsive" alt="Offer in Plumbing service Calgary">
                </div>
                </div>
            </div>


            <div class="text-justify">
                <div class="row">
                    <div class="col-sm-4">
        <img src="/assets/service/water-tank.jpg" class="img-responsive" alt="Offer in Plumbing service Calgary">
                    </div>
                    <div class="col-sm-8">
                        <h4>Calgary Service Plumber Hot Water Heater Special!</h4>
                        <p><b>40 Gallons Giant Hot Water Tank (NG&ELECT)</b></p>
                        <h5><b>Properties:</b></h5> 
                            <ul>
                                <li>Includes Removable of old tank;</li>
                                <li>And Installation of new tank;</li>
                                <li>With di-electric union and new 3\4 inch shutoff;</li>
                                <li>With new humidifier valve if required;</li>
                                <li>1 year warranty.</li>
                            </ul>
                        <h5><b>Special offers:</b></h5>
                        <p>We are now offering a limited time special offer!</p>
                        <p>For only <b>$799.00</b> you can have are Giant 40 Gallon Hot water Heater installed today!</p>
                    </div>                
                </div>
            </div>

            <div class="pricing-area text-center">
                 <div class="row">
                    <!-- <div class="col-sm-6 plan price-two wow fadeInDown">
                        <ul>
                            <li class="heading-two">
                                <h1>10% OFF</h1>
                                <h3>SPECIAL OFFER FOR APARTMENT OWNERS AND MANAGERS</h3>
                                <p>10% off any plumbing / drain service (labor only)</p>
                            </li>
                        </ul>
                    </div> -->

                    <div class="col-sm-12 plan price-two wow fadeInDown">
                        <ul>
                            <li class="heading-two">
                                <h1>10% OFF</h1>
                                <p>Get an extra 10% off When you Rate Us on GOOGLE, YELP, Yahoo OR FACEBOOK -</p>
                                <p>First Time Customers Only</p>
                                <p>Cannot be combined with any other offer and cannot exceed $500.</p>
                                <p>Offer applies only while technician is on the job site.</p>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <div class="row">

                    <div class="col-sm-6 plan price-three wow fadeInDown">
                        <!-- <img src="/assets/ribon_one.png"> -->
                        <ul>
                            <li class="heading-three">
                                <h1>LOYALTY</h1>
                                <h3>CUSTOMER LOYALTY PROGRAM - SPECIAL OFFER FOR EXISTING CUSTOMERS</h3>
                                <p>Preventive Maintenance Programs on 1-year Agreement - Special Pricing</p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 plan price-three wow fadeInDown">        
                        <ul>
                            <li class="heading-three">
                                <h1>$20 OFF</h1>
                                <h3>SPECIAL OFFER FOR<br>FIRST - TIME CUSTOMERS</h3>
                                <p>$20 off Sewer Repair (labor only)</p>
                            </li>
                        </ul>
                    </div>
                </div>
               
            </div><!--/pricing-area-->

            <p>All discounts and coupons apply only during regular weekday business hours (Mon – Fri, 8AM – 5PM) and may not be combined with other discounts / offers.</p>
            <p>To redeem these coupons, print them out and hand it to your plumber on his next visit. Or just mention the coupon to your CSP service technician – we will honor it. Thank you.</p>

        </div><!--/container-->
    </section><!--/pricing-page-->

    <!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
    <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "LocalBusiness",
  "name" : "Calgary Service Plumber",
  "image" : "http://www.calgaryserviceplumbers.com/assets/logo.jpg",
  "telephone" : "+1 (403) 475-5552",
  "email" : "info@calgaryserviceplumbers.com",
  "address" : {
    "@type" : "PostalAddress",
    "streetAddress" : "2036 35 St SE",
    "addressLocality" : "Calgary",
    "addressRegion" : "Canada",
    "postalCode" : "T2B 0W9"
  },
  "openingHoursSpecification" : {
    "@type" : "OpeningHoursSpecification",
    "dayOfWeek" : {
      "@type" : "DayOfWeek",
      "name" : "Open Weekends and Evenings"
    }
  },
  "url" : "http://www.calgaryserviceplumbers.com/"
}
</script>

    <script src="/assets/jquery.js"></script>
    
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>