



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog | Plumbing</title>
</head>

<body>

    <section id="blog" class="container">
        <div class="row">            
            <div class="col-sm-12 center">
                <h2>New Blog</h2>
            </div>
        </div>

        <div class="blog">                 	
            <div class="blog-item">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 blog-content">

                        <%= render "form" %>
					  
					</div>
                </div>    
            </div>
        </div>
    </section>


    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>